.title-about {
    padding-top: 5rem;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
}

.about-image {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: rgba(90, 90, 90, 0.527) 3px solid;
}

.image-wrap {
    padding-bottom: 0.75rem;
}

.content {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
}