.work-title {
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
}

.quiz-image {
    width: 50vw;
    height: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: rgba(90, 90, 90, 0.527) 3px solid;
    margin-bottom: 2rem;
}

.chirper-image {
    width: 50vw;
    height: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: rgba(90, 90, 90, 0.527) 3px solid;
    margin-bottom: 2rem;
}

.planner-image {
    width: 50vw;
    height: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: rgba(90, 90, 90, 0.527) 3px solid;
    margin-bottom: 2rem;
}

.covid-image {
    width: 50vw;
    height: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: rgba(90, 90, 90, 0.527) 3px solid;
    margin-bottom: 2rem;
}

.work {
    text-decoration: none;
    color: black;
}